:root {
  --main: #90AFC5;
  --dark-gray: #3E363F;
  --light-gray: #bdb4be;
  --light: #C4DFE6;
}

html {
  font-family: 'Fira Sans', sans-serif;
  color: var(--dark-gray)
}

.dashboard-menu-container {
  margin-top: 3%;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.main {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  padding: 2% 5%;
  background: rgb(250, 250, 250);
}

.products {
  flex-basis: 70%;
}

.add-product-form {
  flex-basis: 20%;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--light-gray);
}

th, td {
  padding: 20px;
}

th {
  text-align: left;
}

.dark-row {
  background: rgb(235, 235, 235);
}

/* form */

label, input {
  display: block;
}

input {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

form button {
  background: var(--dark-gray);
  border: 0;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.error-input {
  border-color: red;
}

.error {
  color: red;
}